.homeTopSectionBox{
    background-image: url(../../../assets/imgs/backgroundHomeTop.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 150vh;
    padding-top: 2%;
}
.homeTopText{
    color:white;
}
.homeMainText{
    color:white;
}
.buttonConnectWallet{
    text-align: center;
    padding-top: 40px;
}
.buttonsContainer{
    text-align: center;
    padding-top: 40px;
}